.widget-icon-16x16 .widget-mimetype-folder { background-image: url("folder.png"); }
.widget-icon-16x16 .widget-mimetype-file { background-image: url("page_white.png"); }
.widget-icon-16x16 .widget-mimetype-msoffice { background-image: url("page_white_office.png"); }
