/* ui.dropslide */

.ui-dropslide      { position:absolute; }
.ui-dropslide ol   { margin-top:2px; list-style:none; }
.ui-dropslide li   { float:left; }
.ui-dropslide span {
    font-size:.7em;
    padding:4px 6px 4px 6px;
    margin-left:2px;
    text-align:center;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    display:block;
    text-align:center;
}
.ui-timepickr ol li.hour, 
.ui-timepickr ol li.minute, 
.ui-timepickr ol li.second { width:30px; }

.ui-timepickr ol li.hour {
	font-size: 150%;
}
/* dark theme */

.ui-timepickr.dark span {
    border:0;
    color:#ccc;
    background:#333;
    font-weight:bold;
    border:1px solid #555;
}
.ui-timepickr.dark span:hover {
    color:#eee;
    background:#333;
    border:1px solid #777;
}
